@{
    ViewBag.Title = "Home Page";
}

@model SmartCardWebApplication.Models.ViewModel.CardViewModel

<div class="jumbotron">

    <h1>Certificado digital:</h1>

    <h2>Primer campo : @Model.FriendlyName;</h2>

    <h2>Segundo campo : @Model.Issuer;</h2>

    <h2>Tercerp campo : @Model.SerialNumber;</h2>
    </div>

