@{
    ViewBag.Title = "Home Page";
}

@model SmartCardWebApplication.Models.ViewModel.CardViewModel


    <br />
    <div class="list-group">
        <a href="#" class="list-group-item active">
            Selecciona la firma digital:
        </a>
        <a href="#" class="list-group-item list-group-item-action">@Model.FriendlyName</a>
        <a href="#" class="list-group-item list-group-item-action"></a>
        <a href="#" class="list-group-item list-group-item-action"></a>
        <a href="#" class="list-group-item list-group-item-action disabled"></a>
    </div>


<div>


    @using (Html.BeginForm("About", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(x => x.FriendlyName)
        @Html.HiddenFor(x => x.Issuer)
        @Html.HiddenFor(x => x.SerialNumber)

        <p><b>Selecciona el documento que quieres firmar digitalmente:</b></p>
        <input class="btn btn-primary" type="file" name="file" />
        <br />
        <input class="btn btn-success" type="submit" value="OK" />}
</div>



